/* VERZIA 8.10.2022 */
/* http://goblinepicadventure.online/ */
/* https://github.com/Luktur/timovyprojekt */

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
@import 'http://fonts.cdnfonts.com/css/hiskyflipper';

/*  VELKE PISMENA -> jednotlive prvky na stranke a ich opis  */ 
/*  male pismena -> komenty  */ 

/*  Stranka ponuka plynuly presun z horneho menu  */ 
html {
	scroll-behavior: smooth;
}

/*  PISMO  */ 
h1 {
	text-align: center;
}

h2 {
	text-align: center;
	color: black;
}

h3 {
	text-align: center;
	color: black;
}

p {
	text-align: center;
	color: black;
}

/*  Aby nebol viditelny spodny "scrollbar"  */ 
body {
  	overflow-x: hidden; 
  	background: #ebeef1;
}

/*  NAVIGACIA  */ 
.navigacia {
	overflow: hidden;
	border-style: outset;
	border: 4px solid black;
  	border-radius: 14px;
  	box-shadow: 0px 0px 13px white;
  	text-align: center;
  	padding: 10px;
}

.navigacia a {
	text-align: center;
  	padding: 4px 100px;
  	font-size: 14px;
	color: black;
	background: orange;	 /* #ebeef1 alebo rgba(235,166,7,1)*/
	font-family: 'HISKYFLIPPERHIBOLD', sans-serif;
	font-weight: normal;  
}

/*  Horne menu aby bolo nad textom, uzivatel si moze jednoducho zvolit podsekciu  */ 
.sticky {
  	position: -webkit-sticky; 
  	position: sticky;
  	top: 0.1%;
 	background-color: orange; /* #ebeef1 */
 	z-index: 1;
}

/*  SEKCIA O NAS  */ 
.section-title {
	margin: 3% 0;
}

/*  Pismo  */ 
.section.title p {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.single-team {
	padding-bottom: 70px;
	position: center;
	z-index: 1;
	overflow: hidden;
	box-shadow: 5px 5px 15px #000;
}

/*  Uprava obrazkov v sekcii "O nas"  */ 
.team-img {
	position: sticky;
	z-index: -1;
	overflow: hidden;
}

.team-img img {
	width: 100%;
}

.team-content {
	height: 80px;
	width: 100%;
	position: absolute;
	text-align: center;
	overflow: hidden;
	bottom: 0;
	transition: all 0.4s;
	background: tomato;
	z-index: 5;
}

.single-team:hover .team-content {
	height: 150px;
}

/*  SEKCIA PLANU  */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container1 {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-color: #111;
	z-index: 1;
}

.timeline {
	width: 770%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.timeline ul {
	list-style: none;
}

.timeline ul li {
	padding: 20px;
	background-color: #1e1f22;
	color: white;
	border-radius: 20px;
	margin-bottom: 40px;
}

.timeline-content h1 {
  	font-weight: 500;
  	font-size: 25px;
  	line-height: 30px;
  	margin-bottom: 10px;
}

.timeline-content p {
  	font-size: 16px;
  	line-height: 30px;
  	font-weight: 300;
 	color: white;
}

.timeline ul li {
  	width: 50%;
  	position: relative;
  	margin-bottom: 50px;
}

.timeline ul li:nth-child(odd) {
  	float: left;
  	clear: right;
  	transform: translateX(-30px);
  	border-radius: 20px 0px 20px 20px;
}

.timeline ul li:nth-child(even) {
  	float: right;
  	clear: left;
  	transform: translateX(30px);
  	border-radius: 0px 20px 20px 20px;
}

.timeline ul li::before {
  	content: "";
  	position: absolute;
  	height: 20px;
  	width: 20px;
  	border-radius: 50%;
  	background-color: white;
  	top: 0px;
}

.timeline:before {
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 50%;
  	transform: translateX(-50%);
  	width: 2px;
  	height: 100%;
  	background-color: white;
}

.timeline ul li:nth-child(odd)::before {
  	transform: translate(50%, -50%);
  	right: -30px;
}

.timeline ul li:nth-child(even)::before {
  	transform: translate(-50%, -50%);
  	left: -30px;
}

/*  KONTAKTNY FORMULAR  */
section {
   	height: 115vh;
   	width: 100%;
   	background-color: #111;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
} 

.container2 {
	width: 90%;
	max-width: 870px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 3px white;
	background: #ebeef1;
	border-radius: 20px;
	margin-bottom: 3px;
}

.form-group {
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
	background: #ebeef1;
}

.form-group input, .form-group textarea {
	width: 100%;
	padding: 5px;
	font-size: 18px;
	border: 3px solid rgba(128, 128, 128, 0.199);
	margin-top: 5px;
	background: #ebeef1;
}

textarea {
	resize: none;
}

button[type="submit"] {
	width: 100%;
	border: none;
	outline: none;
	background: #ebeef1;
	padding: 20px;
	font-size: 24px;
	border-radius: 8px;
	color: black;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	transition: 0.5s ease background-color;
	border: 1.6px solid black;
}

button[type="submit"]:hover {
  	background-color: black;
  	color: white;
}

#status {
 	width: 90%;
  	max-width: 500px;
  	text-align: center;
  	padding: 10px;
  	margin: 0 auto;
  	border-radius: 8px;
}

#status.success {
  	background-color: rgb(211, 250, 153);
  	animation: status 4s ease forwards;
}

#status.error {
  	background-color: rgb(250, 129, 92);
  	color: white;
  	animation: status 4s ease forwards;
}

@keyframes status {
  	0% {
    	opacity: 1;
    	pointer-events: all;
  	}
  	90% {
    	opacity: 1;
    	pointer-events: all;
  	}
  	100% {
    	opacity: 0;
    	pointer-events: none;
  	}
}

/*  PATICKA  */
footer {
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 30px;
	color: #fff;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 3rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 7rem;
	color: white;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: white;
}

.footer-bottom {
	background: #000;
	width: 100vw;
	padding: 7px 0;
	text-align: center;
}

.footer-bottom p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
	color: white;
}

.footer-bottom span {
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

.footer-content ul {
	padding: 0;
	list-style: none;
	font-size: 16px;
	line-height: 1.6;
	margin-top: 0;
}

.footer-content ul li a {
	color: inherit;
	opacity: 0.8;
}

.footer-content ul li {
	display: inline-block;
	padding: 0 25px;
}

/*  GALERIA  */
.gallery {
	margin: 10px 50px;
	text-align: center;
}

.gallery img {
	width: 270px; 
	padding: 5px;
	transition: 2s; 
	border: 4px solid black;;
}

.gallery img:hover {
	transform: scale(1.04)
}

/*  DOKUMENTY  */
.dokumenty {
	text-align: center;
	margin-top: 50px;
}

.dokumenty a {
	color: inherit;
	opacity: 0.8;
	text-decoration: none; 
}

.btn {
	border: 1.6px solid black;
	background: none;
	padding: 12px 20px;
	font-size: 24px;
	cursor: pointer;
	margin: 10px;
	transition: 0.9s;
	position: relative;
	overflow: hidden;
}

.btn1, .btn2 {
	color: black;
}

.btn3, .btn4 {
	color: black;
}

.btn1:hover, .btn2:hover {
	color: white;
}

.btn3:hover, .btn4:hover {
	color: black;
}

.btn::before {
  	content: "";
 	position: absolute;
  	left: 0;
  	width: 100%;
  	height: 0%;
  	background: black;
  	z-index: -1;
  	transition: 0.8s;
}

.btn1::before,.btn3::before {
  	top: 0;
  	border-radius: 0 0 10% 10%;
}

.btn2::before,.btn4::before {
  	bottom: 0;
  	bottom-order-radius: 10% 10% 0 0;
}

.btn3::before,.btn4::before {
 	height: 200%;
}

.btn1:hover::before,.btn2:hover::before {
  	height: 200%;
}

.btn3:hover::before,.btn4:hover::before{
  	height: 0%;
}

/*  Keby sme tam chceli pridat animaciu sipky
.arrow {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}
        
.arrow span {
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll1 2s infinite;
}
        
.arrow span:nth-child(2) {
    animation-delay: -.2s;
}
        
.arrow span:nth-child(3) {
    animation-delay: -.4s;
}
        
@keyframes scroll1 {
0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
    border-bottom: 5px solid #ff6a06;
    border-right: 5px solid #ff9b06;
}

50% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
}

100% {
    opacity: 1;
   	transform: rotate(45deg) translate(-20px, -20px);
 }
}
*/

/*  SIPKA NA KONCI  */
.chodhore {
	width: 50px;
	height: 50px;
	background: white;
	bottom: 45px;
	right: 20px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: black;
	font-size: 24px;
	position: fixed;
}

.chodhore:hover {
	background-color: black;
	color: white;
	border: 1px solid white;
}

/*  VLASTNY SCROLLBAR  */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: rgb(105,105,105);
}

::-webkit-scrollbar-thumb {
	background: rgb(192,192,192);
	border-radius: 90px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(192,192,192);
}

/*  PRELOADER  */
#preloader {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11000;
	position: fixed;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}

.loader {
	display: block;
	flex-wrap: wrap;
	width: 250px;
	height: auto;
	-webkit-transform-style: preserve-3d;
}

/*  Nastavenie pisma preloaderu a animacie "typewriteru"  */
.loader p {
	color: white;
	font-size: 24px;
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .40em;
	animation:
		typing 3.5s steps(30, end),
		blink-caret .5s step-end infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white; }
}

/*  Nastavenie obrazku - gifu  */
.loader img {
	width: 100%;
	height: auto;
}

/*  VIDEO NA POZADI */
.videopozadie {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(16,6,0,0.5),rgba(16,6,0,0.5));  /* rgba(12,3,51,0.3 rgba(16,6,0,0.5) rgba(255,162,14,0.55 */ 
	position: relative;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content1 {
	text-align: center;
}

.content1 h1 {
	font-size: 160px;
	color: #fff;
	font-weight: 600;
	transition: 0.8s;
	font-family: 'HISKYFLIPPERHIBOLD', sans-serif;
	font-weight: normal;
}

.content1 h1:hover {
	-webkit-text-stroke: 2px #fff;
	color: transparent;
}

.content1 a {
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-size: 24px;
	border: 2px solid #fff;
	padding: 14px 70px;
	border-radius: 50px;
	margin-top: 20px;
}

.video {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
	.video {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	.video {
		width: auto;
		height: 100%;
	}
}

/*  ANIMACIA MYSI  */
.scroll-downs {
  	position: absolute;
  	top: 75%;
  	right: 90%;
  	bottom: 0;
  	left: 0;
  	margin: auto;
  	width :34px;
  	height: 55px;
}

.mys {
  	width: 3px;
  	padding: 10px 15px;
  	height: 35px;
  	border: 2px solid #fff;
  	border-radius: 25px;
  	opacity: 0.75;
  	box-sizing: content-box;
}

.scroller {
  	width: 3px;
 	height: 10px;
  	border-radius: 25%;
  	background-color: #fff;
  	animation-name: scroll;
  	animation-duration: 2.2s;
  	animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  	animation-iteration-count: infinite;
}

@keyframes scroll {
  	0% { opacity: 0; }
  	10% { transform: translateY(0); opacity: 1; }
  	100% { transform: translateY(15px); opacity: 0;}
}

/* kurzor
.cursor {
	z-index: 11;
	position: fixed;
	background: #8BFD00;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	pointer-events: none;
	box-shadow: 0 0 20px #8BFD00,
				0 0 60px #8BFD00,
				0 0 100px #8BFD00;
	animation: colors 5s infinite; 
	transform: translate(-50%, -50%);
	display: none;
}

@keyframes colors {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

.cursor:before {
	content: "";
	position: absolute;
	background: #2696E8;
	width: 50px;
	height: 50px;
	opacity: 0.2;
	transform: translate(-30%, -30%);
	border-radius: 50%;
}
*/
